@font-face
{
    font-family: Segoe;
    src :  url("../resources/font/Segoe UI Bold.ttf");
        
}
@font-face
{
    font-family: Akka;
    src : url(../resources/font/akka.TTF);
        
}
.segoe
{
    font-family: Segoe;
}
.Akka
{
    font-family: Akka;
}
#logo
{
    position: relative;
    width: 100%;

    margin: 0px 0px 0px 0px;
     
}

header{

    width: 100%;
    height: 100px;;
}
#barranavegacion
{
    
}
#entrada{
    position:  relative;
    left:35%;
    background-color: transparent;
    
}

#navbar
{
   position: absolute;
   top:5%;
   left:1%;
   background-color:transparent;
   border:none;
   
}
li
{
  
    background-color: transparent;
    display:inline;
    margin :85px;
    font-family: Segoe;
    font-size:25px;
}
#botonEncontrarViajes
{
    
}
.boton{
    position:absolute;
    left:10%;
    
}

#buscarViajesPanelGrid
{
    border: none;
    background-color : transparent;

}



.noBorder tr,
    .noBorder td { border: 0 !important; }

.transparentBackground tr,
.transparentBackground td { background: transparent !important; }

.panelGrid td {
    border: none;
}

.buscarViajesPanelGrid.ui-panelgrid>*>tr,
.buscarViajesPanelGrid.ui-panelgrid>*>tr>td {
    border: none;
    background-color: transparent;
}